# BrowserStack Credentials
BROWSERSTACK_USERNAME=your_bs_username
BROWSERSTACK_ACCESS_KEY=your_bs_access_key

# Application Settings
APP=saucelabs # Options: saucelabs, wikipedia

# App Credentials (Optional: overrides public demo defaults)
SAUCE_USERNAME=bob@example.com
SAUCE_PASSWORD=10203040

# Logging
LOG_LEVEL=info # Options: debug, info, warn, error
